.primary_btn{
    display: flex;
    align-items: center;
    padding: 10px 18px;
    min-width: 180px;
    background-color: black;
    justify-content: center;
    color: white;
    cursor: pointer;
    gap: 3px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.secondary_btn{
    display: flex;
    align-items: center;
    padding: 10px 18px;
    min-width: 180px;
    background-color: white;
    justify-content: center;
    color: black;
    width: 100%;
    cursor: pointer;
    gap: 3px;
    border: 1px solid black;
    border-radius: 5px;
 
}
